/* Add here all your css styles (customizations) */


.btn-wrapper{  
			  margin:0;
			  position:absolute; 
			  height: 140
              top:50%
              transform: translate(-50%, -50%);}

#progress-bar{
			background-color: 343a40;
			}

#custom-nav{
			color:#555;
}

.light-theme .nav-item .nav-link {
  color: #555;
}

