<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title -->
	<title>Areas of Concern</title>
	
	<!-- Required Meta Tags Always Come First -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../favicon.ico">
	
	<!-- Google Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%7CLeckerli+One%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
	
	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="static/spa_assets/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/icon-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/icon-hs/style.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/icon-line/css/simple-line-icons.css">
	
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="static/spa_assets/vendor/hamburgers/hamburgers.min.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
	
	<!-- CSS Template -->
	<link rel="stylesheet" href="static/spa_assets/css/styles.op-spa.css">
	
	<!-- CSS Customization -->
	<link rel="stylesheet" href="static/spa_assets/css/custom.css">
</head>

<body>
<main>
	<!-- Header -->
	<header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999"
			data-header-fix-moment="100">
		<div class="light-theme u-header__section g-transition-0_3 g-py-6 g-py-14--md"
			 data-header-fix-moment-exclude="light-theme g-py-14--md"
			 data-header-fix-moment-classes="dark-theme u-shadow-v27 g-bg-white g-py-11--md">
			<nav class="navbar navbar-expand-lg g-py-0">
				<div class="container g-pos-rel">
					<!-- Logo -->
					<a href="#!" class="js-go-to navbar-brand u-header__logo"
					   data-type="static">
					</a>
					<!-- End Logo -->
					
					<!-- Navigation -->
					<div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
						<ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg ml-auto">
							<li class="nav-item g-mr-12--lg g-mb-7 g-mb-0--lg">
								<a href="/" class="nav-link p-0">Home
								</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/faq" class="nav-link p-0">FAQ</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg active">
								<a href="/areas_of_concern" class="nav-link p-0">Update Concerns</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/questionnaire" class="nav-link p-0">Questionnaire</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/subscribe" class="nav-link p-0">Subscribe</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/contact" class="nav-link p-0">Contact</a>
							</li>
						</ul>
					</div>
					<!-- End Navigation -->
					
					<!-- Responsive Toggle Button -->
					<button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0" type="button"
							aria-label="Toggle navigation"
							aria-expanded="false"
							aria-controls="navBar"
							data-toggle="collapse"
							data-target="#navBar">
				<span class="hamburger hamburger--slider">
				  <span class="hamburger-box">
					<span class="hamburger-inner"></span>
				  </span>
				</span>
					</button>
					<!-- End Responsive Toggle Button -->
				</div>
			</nav>
		</div>
	</header>

	<!-- End Header -->
		
 <!-- Section Area of Concern Content -->
	<section id="areas-of-concern" class="g-theme-bg-gray-light-v1 g-py-80">
	  <form action = "/results" method="POST" >
		 <div class="container-fluid px-0 text-left">
			<h4 class="g-font-weight-600 g-font-size-30 g-theme-h-v1 g-color-primary g-mb-25 text-center">What Are Your Areas Of Concern</h4>
				<div class="row no-gutters">

				  <div class="col-md-3 d-flex text-md-left g-pa-50">
					<div class="w-100">
					  <div class="g-mb-25">

							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="antiaging" value="antiaging">
								<label class="form-check-label" for="antiaging">
									Antiaging
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="night" value="night">
								<label class="form-check-label" for="night">
									Night Cream
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="sunscreen" value="sunscreen">
								<label class="form-check-label" for="sunscreen">
									Sun Screen
								</label>
							</div>
						</div>
					  </div>
					</div>

					<div class="col-md-3 d-flex text-md-left g-pa-50">
					  <div class="w-100">
						<div class="g-mb-25">
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="oily" value="oily">
								<label class="form-check-label" for="oily">
									Oily
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="dry" value="dry">
								<label class="form-check-label" for="dry">
									Dry
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="combination" value="combination">
								<label class="form-check-label" for="combination">
									Combination
								</label>
							</div>
						</div>
					  </div>
					</div>

					<div class="col-md-3 d-flex text-md-left g-pa-50">
					  <div class="w-100">
						<div class="g-mb-25">
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="skintone" value="skintone">
								<label class="form-check-label" for="skintone">
									Skintone
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="acne" value="oily">
								<label class="form-check-label" for="acne">
									Acne
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
							  id="pores" value="pores">
								<label class="form-check-label" for="pores">
									Poresize
								</label>
							</div>
						</div>
					  </div>
					</div>

					<div class="col-md-3 d-flex text-md-left g-pa-50">
					  <div class="w-100">
						<div class="g-mb-25">
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="psoriasis" value="psoriasis">
								<label class="form-check-label" for="psoriasis">
									Psoriasis
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
								 id="sensitive" value="sensitive">
								<label class="form-check-label" for="sensitive">
									Sensitive
								</label>
							</div>
							<div class="col-sm">
							  <input class="form-check-input" type="checkbox" name="concern" 
							  id="eyes" value="eyes">
								<label class="form-check-label" for="eyes">
									Eye Area
								</label>
							</div>
						</div>
					  </div>
					</div>


					<div class="container-fluid px-4 text-center">
						  <div class="form-group g-px-12--md" style="align-items: center">
							<label for="budget">Budget</label>
							<select class="form-control g-px-10" id="budget" name="budget" 
							style="width:100%;align-items: center">
							  <option value="15">under $20</option>
							  <option value="50">$20 - $50</option>
							  <option value="75" selected="selected">$50 - $75</option>
							  <option value="125">$75 - $125</option>
							  <option value="300">over $125</option>
							</select>
						  </div>
				
						<input class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-18 g-brd-none rounded-0 g-py-10" type="submit" value="Continue"/>
					</div>
				</div>
		</div>
	  </form>
	</section>


	
	<!-- Footer -->
	<footer>
		<div class="container-fluid text-center g-color-gray-dark-v5 g-py-40">
			<a class="d-inline-block g-mb-25" href="/"> <img src="static/spa_assets/img/font_footer.png" alt="Logo"> </a>
			
			<p class="g-mb-30">Connect With Us!</p>
			
			<ul class="list-inline d-inline-block g-mb-30">
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-pinterest"></i></a>
				</li>
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="list-inline-item">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-linkedin"></i></a>
				</li>
			</ul>
			
			<ul class="list-inline text-uppercase g-font-weight-700 g-font-size-11 mb-0">
				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/">Home</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/faq">FAQ</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/upload_images">Get Started</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/questionnaire">Questionnaire</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/subscribe">Subscribe</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a class="js-go-to u-go-to-v1" href="#!"
	   data-type="fixed"
	   data-position='{
		   "bottom": 15,
		   "right": 15
		 }'
	   data-offset-top="400"
	   data-compensation="#js-header"
	   data-show-effect="zoomIn"> <i class="hs-icon hs-icon-arrow-top"></i> </a>
</main>

<!-- JS Global Compulsory -->
<script src="static/spa_assets/vendor/jquery/jquery.min.js"></script>
<script src="static/spa_assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="static/spa_assets/vendor/popper.min.js"></script>
<script src="static/spa_assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="static/spa_assets/vendor/appear.js"></script>
<script src="static/spa_assets/vendor/slick-carousel/slick/slick.js"></script>
<script src="static/spa_assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="static/spa_assets/vendor/gmaps/gmaps.min.js"></script>

<!-- JS Unify -->
<script src="static/spa_assets/js/hs.core.js"></script>
<script src="static/spa_assets/js/components/hs.header.js"></script>
<script src="static/spa_assets/js/helpers/hs.hamburgers.js"></script>
<script src="static/spa_assets/js/components/hs.scroll-nav.js"></script>
<script src="static/spa_assets/js/components/hs.rating.js"></script>
<script src="static/spa_assets/js/components/hs.carousel.js"></script>
<script src="static/spa_assets/js/components/hs.cubeportfolio.js"></script>
<script src="static/spa_assets/js/components/gmap/hs.map.js"></script>
<script src="static/spa_assets/js/components/hs.go-to.js"></script>

<!-- JS Customization -->
<script src="static/spa_assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
  // initialization of google map
  function initMap() {
	$.HSCore.components.HSGMap.init('.js-g-map');
  }

  $(document).on('ready', function () {
	// initialization of carousel
	$.HSCore.components.HSCarousel.init('.js-carousel');

	// initialization of header
	$.HSCore.components.HSHeader.init($('#js-header'));
	$.HSCore.helpers.HSHamburgers.init('.hamburger');

	// initialization of rating
	$.HSCore.components.HSRating.init($('.js-rating'), {
	  spacing: 2
	});

	// initialization of go to section
	$.HSCore.components.HSGoTo.init('.js-go-to');
  });

  $(window).on('load', function () {
	// initialization of HSScrollNav
	$.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
	  duration: 700
	});

	// initialization of cubeportfolio
	$.HSCore.components.HSCubeportfolio.init('.cbp');
  });
</script>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
</body>
</html>
