<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Personalized Skin Care</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="assets/css/unify-core.css">
    <link rel="stylesheet" href="assets/css/unify-components.css">
    <link rel="stylesheet" href="assets/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
  </head>

  <body>
    <main>
      <div class="container g-py-150 text-center">
        <h1 class="g-font-size-60 mb-4">Personalized Skin Care</h1>
        <p class="g-font-size-18 mb-5">Based on your input, we suggest these products: </p>
        <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="index.html">Back to the Intro Page</a>
        <div class="g-mb-30">
            <h3 class="h5 mb-3">Skin Concerns</h3>

            <ul class="list-unstyled">
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c" ></i>
                  </span>
                  Dry <span class="float-right g-font-size-13"></span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" checked>
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                  Oily <span class="float-right g-font-size-13"></span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                  Circles Under Eyes <span class="float-right g-font-size-13"></span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" checked>
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                   Large Pores <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                   <span class="float-right g-font-size-13"></span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  Anti Aging  <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                   <span class="float-right g-font-size-13"></span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                  Psoriasis <span class="float-right g-font-size-13"></span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                  Lightening <span class="float-right g-font-size-13">9</span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                  Sensitive <span class="float-right g-font-size-13">9</span>
                </label>
              </li>
              <li class="my-2">
                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                  <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                  Skintone <span class="float-right g-font-size-13"></span>
                </label>
              </li>
              <button type="submit" class="btn btn-rw btn-primary">Find Products!</button>
            </ul>
          </div>
    </div>

    </main>

    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Unify -->
    <script src="assets/js/hs.core.js"></script>

    <!-- JS Custom -->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
