<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title -->
	<title>About Us</title>
	
	<!-- Required Meta Tags Always Come First -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../favicon.ico">
	
	<!-- Google Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%7CLeckerli+One%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
	
		<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/vendor/bootstrap/bootstrap.min.css') }}">



	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/vendor/icon-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/vendor/icon-line/css/simple-line-icons.css') }}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/vendor/hamburgers/hamburgers.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/vendor/slick-carousel/slick/slick.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css') }}">

	<!-- CSS Template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/css/styles.op-spa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/css/styles.e-commerce.css') }}">


	<!-- CSS Customization -->
	<link rel="stylesheet" href="{{ url_for('static', filename='spa_assets/css/custom.css') }}">

</head>

<body>
<main>
	<!-- Header -->
	<header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999"
			data-header-fix-moment="100">
		<div class="light-theme u-header__section g-transition-0_3 g-py-6 g-py-14--md"
			 data-header-fix-moment-exclude="light-theme g-py-14--md"
			 data-header-fix-moment-classes="dark-theme u-shadow-v27 g-bg-white g-py-11--md">
			<nav class="navbar navbar-expand-lg g-py-0" >
				<div class="container g-pos-rel">
					<!-- Logo -->
					<a href="#!" class="js-go-to navbar-brand u-header__logo"
					   data-type="static">

					 </a>
					<!-- End Logo -->
					
					<!-- Navigation -->
					<div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
						<ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg ml-auto">
							<li class="nav-item g-mr-12--lg g-mb-7 g-mb-0--lg" >
								<a href="/" class="nav-link p-0">Home
								</a>
							</li>

							<li class="nav-item g-mr-12--lg g-mb-7 g-mb-0--lg" >
								<a href="/upload_images" class="nav-link p-0">Build A Profile
								</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg active">
								<a href="/faq" class="nav-link p-0">FAQ</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg active">
								<a href="/all_products" class="nav-link p-0">All Products</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/questionnaire" class="nav-link p-0">Update Concerns</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/questionnaire" class="nav-link p-0">Questionnaire</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/subscribe" class="nav-link p-0">Subscribe</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/contact" class="nav-link p-0">Contact</a>
							</li>
						</ul>
					</div>
					<!-- End Navigation -->
					
					<!-- Responsive Toggle Button -->
					<button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0" type="button"
							aria-label="Toggle navigation"
							aria-expanded="false"
							aria-controls="navBar"
							data-toggle="collapse"
							data-target="#navBar">
				<span class="hamburger hamburger--slider">
				  <span class="hamburger-box">
					<span class="hamburger-inner"></span>
				  </span>
				</span>
					</button>
					<!-- End Responsive Toggle Button -->
				</div>
			</nav>
		</div>
	</header>

	<!-- End Header -->
	
	<!-- Section Content -->
	<section id="about" class="g-py-100">
		<div class="container g-width-600 g-mb-50">
			<div class="g-mb-25">
					<h4 class="g-font-weight-600 g-font-size-25 g-theme-h-v1 g-color-primary g-mb-25 text-center">Frequently Asked Questions</h4>

						<h2 class="text-uppercase g-font-weight-600 g-font-size-18 mb-0">Who Are We?</h2>
						<br>


Keri Multerer is the founder of RazzBeauty. She has an MS in Genetics, a passion for skin care, and recently completed a bootcamp for machine learning in Seattle. She identified a need to help consumers navigate the thousands of skin care products available based on unique skin concerns and launched an app combining her three passions.
The RazzBeauty tool provides product recommendations taking into consideration all of your areas of concern, lifestyle, and budget. Machine learning was used based on customer reviews and ingredients, paired with subject matter expertise to build a basket of products for your unique skin.
					<br>

					<br>
					<h2 class="text-uppercase g-font-weight-600 g-font-size-18 mb-0">Why are you asking me to upload images of myself?</h2>
					<br>

We are training an image recognition model in the background for the next version of the tool.  The goal of this next version would be to predict user’s area of concern with a couple of pictures of themselves, streamlining the user experience.
					<br>
	
					<br>
					<h2 class="text-uppercase g-font-weight-600 g-font-size-18 mb-0">What do you do with the images I provide?</h2>
					<br>


They are uploaded and kept in a secure database. The pictures you provide are detached from your personal information and used only in the machine learning model with the labeled areas of concern you provide. We have no intention of publicizing, selling, or providing this information to the public.
					<br>

					<br>
					<h2 class="text-uppercase g-font-weight-600 g-font-size-18 mb-0">How do I become a partner?
					</h2>
					<br>

We are working with salons directly to bridge the gap of personalized product recommendations for the customer between services,  before and after a service, as well as providing high touch for ecommerce platforms. 

Reach out us directly (via contact page) if interested in learning more.
					<br>
					<br>

				<div class="mx-auto" style="width:200px;">		
					<a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-11 g-brd-none rounded-0 g-py-10 g-px-25 mx-auto" href="/upload_images">Get Started</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Section Content -->
	
	
	<section id="subscribe" class="g-py-100">
		<div class="container g-width-600 g-mb-50">
			<div class="g-mb-25">
				<h4 class="g-font-weight-600 g-font-size-25 g-theme-h-v1 g-color-primary g-mb-25 text-center">Subscribe</h4>
				<h2 class="text-uppercase g-font-weight-600 g-font-size-22 mb-0">Get the latest news</h2>

				<form role="form">
					<div class="input-group rounded-0">
						<input class="form-control g-theme-bg-gray-light-v1 g-brd-none g-py-14 g-px-12" type="text" placeholder="Your name">
						
						<div class="input-group-btn">
							<button class="btn btn-md h-100 text-uppercase u-btn-primary g-font-weight-700 g-font-size-11 g-brd-none rounded-0 g-py-12 g-px-25" type="button">Subscribe</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	
		
	<!-- Footer -->
	<footer>
		<div class="container-fluid text-center g-color-gray-dark-v5 g-py-40">
			<a class="d-inline-block g-mb-25" href="/"> <img src="static/spa_assets/img/font_footer.png" alt="Logo"> </a>
			
			<p class="g-mb-30">Connect With Us!</p>
			
			<ul class="list-inline d-inline-block g-mb-30">
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-pinterest"></i></a>
				</li>
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="list-inline-item">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-linkedin"></i></a>
				</li>
			</ul>
			
			<ul class="list-inline text-uppercase g-font-weight-700 g-font-size-11 mb-0">
				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/">Home</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/faq">FAQ</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/upload_images">Get Started</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/questionnaire">Questionnaire</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/subscribe">Subscribe</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a class="js-go-to u-go-to-v1" href="#!"
	   data-type="fixed"
	   data-position='{
		   "bottom": 15,
		   "right": 15
		 }'
	   data-offset-top="400"
	   data-compensation="#js-header"
	   data-show-effect="zoomIn"> <i class="hs-icon hs-icon-arrow-top"></i> </a>
</main>

<!-- JS Global Compulsory -->
<script src="{{ url_for('static', filename='spa_assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/vendor/bootstrap/bootstrap.min.js') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ url_for('static', filename='spa_assets/vendor/appear.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/vendor/slick-carousel/slick/slick.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/vendor/gmaps/gmaps.min.js') }}"></script>

<!-- JS Unify -->
<script src="{{ url_for('static', filename='spa_assets/js/hs.core.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/components/hs.header.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/helpers/hs.hamburgers.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/components/hs.scroll-nav.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/components/hs.rating.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/components/hs.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/components/hs.cubeportfolio.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/components/gmap/hs.map.js') }}"></script>
<script src="{{ url_for('static', filename='spa_assets/js/components/hs.go-to.js') }}"></script>

<!-- JS Customization -->
<script src="{{ url_for('static', filename='spa_assets/js/custom.js') }}"></script>

<!-- JS Plugins Init. -->
<script>
  // initialization of google map
  function initMap() {
	$.HSCore.components.HSGMap.init('.js-g-map');
  }

  $(document).on('ready', function () {
	// initialization of carousel
	$.HSCore.components.HSCarousel.init('.js-carousel');

	// initialization of header
	$.HSCore.components.HSHeader.init($('#js-header'));
	$.HSCore.helpers.HSHamburgers.init('.hamburger');

	// initialization of rating
	$.HSCore.components.HSRating.init($('.js-rating'), {
	  spacing: 2
	});

	// initialization of go to section
	$.HSCore.components.HSGoTo.init('.js-go-to');
  });

  $(window).on('load', function () {
	// initialization of HSScrollNav
	$.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
	  duration: 700
	});

	// initialization of cubeportfolio
	$.HSCore.components.HSCubeportfolio.init('.cbp');
  });
</script>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
</body>
</html>
