<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title -->
	<title>Razzbeauty</title>
	
	<!-- Required Meta Tags Always Come First -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../favicon.ico">
	
	<!-- Google Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%7CLeckerli+One%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
	
	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="static/spa_assets/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/icon-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/icon-hs/style.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/icon-line/css/simple-line-icons.css">
	
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="static/spa_assets/vendor/hamburgers/hamburgers.min.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="static/spa_assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
	
	<!-- CSS Template -->
	<link rel="stylesheet" href="static/spa_assets/css/styles.op-spa.css">
	
	<!-- CSS Customization -->
	<link rel="stylesheet" href="static/spa_assets/css/custom.css">
</head>

<body>
<main>
	<!-- Header -->
	<header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999"
			data-header-fix-moment="100">
		<div class="light-theme u-header__section g-transition-0_3 g-py-6 g-py-14--md"
			 data-header-fix-moment-exclude="light-theme g-py-14--md"
			 data-header-fix-moment-classes="dark-theme u-shadow-v27 g-bg-white g-py-11--md">
			<nav class="navbar navbar-expand-lg g-py-0">
				<div class="container g-pos-rel">
					<!-- Logo -->
					<a href="#!" class="js-go-to navbar-brand u-header__logo"
					   data-type="static">
						<img class="u-header__logo-img u-header__logo-img--main d-block g-width-60" src="static/spa_assets/img/Capture.png" alt="Image description"
							 data-header-fix-moment-exclude="d-block"
							 data-header-fix-moment-classes="d-none">
						
						<img class="u-header__logo-img u-header__logo-img--main d-none g-width-60" src="static/spa_assets/img/Capture.png" alt="Image description"
							 data-header-fix-moment-exclude="d-none"
							 data-header-fix-moment-classes="d-block"> </a>
					<!-- End Logo -->
					
					<!-- Navigation -->
					<div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
						<ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg ml-auto">
							<li class="nav-item g-mr-12--lg g-mb-7 g-mb-0--lg active">
								<a href="#home" class="nav-link p-0">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/about" class="nav-link p-0">About</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="#getstarted" class="nav-link p-0">Get Started</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="#questionnaire" class="nav-link p-0">Questionnaire</a>
							</li>

							<li class="nav-item g-mx-12--lg g-mb-7 g-mb-0--lg">
								<a href="/subscribe" class="nav-link p-0">Subscribe</a>
							</li>

							<li class="nav-item g-ml-12--lg">
								<a href="#contact" class="nav-link p-0">Contact</a>
							</li>
						</ul>
					</div>
					<!-- End Navigation -->
					
					<!-- Responsive Toggle Button -->
					<button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0" type="button"
							aria-label="Toggle navigation"
							aria-expanded="false"
							aria-controls="navBar"
							data-toggle="collapse"
							data-target="#navBar">
				<span class="hamburger hamburger--slider">
				  <span class="hamburger-box">
					<span class="hamburger-inner"></span>
				  </span>
				</span>
					</button>
					<!-- End Responsive Toggle Button -->
				</div>
			</nav>
		</div>
	</header>
	<!-- End Header -->
	
	<!-- Section Content -->
	<section id="home" class="u-bg-overlay g-height-100vh g-min-height-600 g-bg-img-hero g-bg-black-opacity-0_3--after" style="background-image: url(https://image.shutterstock.com/z/stock-photo-collage-of-multiple-beauty-portraits-of-women-with-various-skin-tones-and-hair-280937399.jpg);">
		<div class="u-bg-overlay__inner g-absolute-centered--y w-100">
			<div class="container text-center g-max-width-750">
				<h3 class="d-inline-block text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-brd-bottom g-brd-3 g-brd-primary g-mb-10">Personalized Skin Care Recommendations - Because One Size Doesn't Fit All</h3>

				<a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-11 g-brd-none rounded-0 g-py-10 g-px-25" href="/upload_images">Get Started</a>
			</div>
		</div>
	</section>
	<!-- End Section Content -->
	
	<!-- Footer -->
	<footer>
		<div class="container-fluid text-center g-color-gray-dark-v5 g-py-40">
			<a class="d-inline-block g-mb-25" href="/"> <img src="" alt="Logo"> </a>
			
			<p class="g-mb-30">Connect With Us!</p>
			
			<ul class="list-inline d-inline-block g-mb-30">
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-pinterest"></i></a>
				</li>
				<li class="list-inline-item g-mr-10">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="list-inline-item">
					<a class="u-icon-v3 g-width-35 g-height-35 g-font-size-15 g-color-gray-dark-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-linkedin"></i></a>
				</li>
			</ul>
			
			<ul class="list-inline text-uppercase g-font-weight-700 g-font-size-11 mb-0">
				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/#home">Home</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/about">About</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/#getstarted">Get Started</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/#questionnaire">Questionnaire</a>
				</li>

				<li class="list-inline-item g-px-12--md">
					<a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="/#contact">Contact</a>
				</li>
			</ul>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a class="js-go-to u-go-to-v1" href="#!"
	   data-type="fixed"
	   data-position='{
		   "bottom": 15,
		   "right": 15
		 }'
	   data-offset-top="400"
	   data-compensation="#js-header"
	   data-show-effect="zoomIn"> <i class="hs-icon hs-icon-arrow-top"></i> </a>
</main>

<!-- JS Global Compulsory -->
<script src="static/spa_assets/vendor/jquery/jquery.min.js"></script>
<script src="static/spa_assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="static/spa_assets/vendor/popper.min.js"></script>
<script src="static/spa_assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="static/spa_assets/vendor/appear.js"></script>
<script src="static/spa_assets/vendor/slick-carousel/slick/slick.js"></script>
<script src="static/spa_assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="static/spa_assets/vendor/gmaps/gmaps.min.js"></script>

<!-- JS Unify -->
<script src="static/spa_assets/js/hs.core.js"></script>
<script src="static/spa_assets/js/components/hs.header.js"></script>
<script src="static/spa_assets/js/helpers/hs.hamburgers.js"></script>
<script src="static/spa_assets/js/components/hs.scroll-nav.js"></script>
<script src="static/spa_assets/js/components/hs.rating.js"></script>
<script src="static/spa_assets/js/components/hs.carousel.js"></script>
<script src="static/spa_assets/js/components/hs.cubeportfolio.js"></script>
<script src="static/spa_assets/js/components/gmap/hs.map.js"></script>
<script src="static/spa_assets/js/components/hs.go-to.js"></script>

<!-- JS Customization -->
<script src="static/spa_assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
  // initialization of google map
  function initMap() {
	$.HSCore.components.HSGMap.init('.js-g-map');
  }

  $(document).on('ready', function () {
	// initialization of carousel
	$.HSCore.components.HSCarousel.init('.js-carousel');

	// initialization of header
	$.HSCore.components.HSHeader.init($('#js-header'));
	$.HSCore.helpers.HSHamburgers.init('.hamburger');

	// initialization of rating
	$.HSCore.components.HSRating.init($('.js-rating'), {
	  spacing: 2
	});

	// initialization of go to section
	$.HSCore.components.HSGoTo.init('.js-go-to');
  });

  $(window).on('load', function () {
	// initialization of HSScrollNav
	$.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
	  duration: 700
	});

	// initialization of cubeportfolio
	$.HSCore.components.HSCubeportfolio.init('.cbp');
  });
</script>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
</body>
</html>
