<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->

  <title>Skin Care Recommendations</title>
  <meta name="description" content="Skin Care Recommendations">
  <meta name="author" content="Predictive Model for Skin Care Products">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h2> Personalized Skin Recommendations </h2>
      <p class="lead">
        What are your top three areas of concern?
      </p>

    </div>



    <form action="/results" method="get">
      <div class="form-group">
        <label for="c1">Concern 1</label>
        <select class="form-control" id="c1" name="c1">
          <option value="dry">Dry Skin</option>
          <option value="antiaging" selected="selected">Anti Aging</option>
          <option value="eyes">Circles Under Eyes</option>
          <option value="lightening">Lightening</option>
          <option value="oily">Oily Skin</option>
          <option value="psoriasis">Psoriasis</option>
          <option value="sensitive">Sensitive</option>
          <option value="combination">Combination Skin</option>
          <option value="oily">Large Pores</option>
        </select>
      </div>
      <div class="form-group">
        <label for="c2">Concern 2</label>
        <select class="form-control" id="c2" name="c2">
          <option value="dry">Dry Skin</option>
          <option value="antiaging">Anti Aging</option>
          <option value="eyes">Circles Under Eyes</option>
          <option value="lightening" selected="selected">Lightening</option>
          <option value="oily">Oily Skin</option>
          <option value="psoriasis">Psoriasis</option>
          <option value="sensitive">Sensitive</option>
          <option value="combination">Combination Skin</option>
          <option value="oily">Large Pores</option>
        </select>
      </div>
      <div class="form-group">
        <label for="c3">Concern 3</label>
        <select class="form-control" id="c3"  name="c3">
          <option value="dry">Dry Skin</option>
          <option value="antiaging">Anti Aging</option>
          <option value="eyes">Circles Under Eyes</option>
          <option value="lightening">Lightening</option>
          <option value="oily">Oily Skin</option>
          <option value="psoriasis">Psoriasis</option>
          <option value="sensitive" selected="selected">Sensitive</option>
          <option value="combination">Combination Skin</option>
          <option value="oily">Large Pores</option>
        </select>
      </div>
      <div class="form-group">
        <label for="budget">Budget</label>
        <select class="form-control" id="budget"  name="budget">
          <option value="10">$10</option>
          <option value="15">$15</option>
          <option value="20">$20</option>
          <option value="25">$25</option>
          <option value="30">$30</option>
          <option value="35">$35</option>
          <option value="40" selected="selected">$40</option>
          <option value="50">$50</option>
          <option value="60">$60</option>
          <option value="70">$70</option>
          <option value="80">$80</option>
        </select>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
