<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->

  <title>Skin Care Recommendations</title>
  <meta name="description" content="Skin Care Recommendations">
  <meta name="author" content="Predictive Model for Skin Care Products">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h2> Personalized Skin Recommendations </h2>
      <p class="lead">
        Tell us wheat areas you most concerned about?
      </p>

    </div>
 <!--   <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
    </form> -->

    <form action="/results" method="get">
      <div class="row">

        <div class="col-sm">
          <div class="form-group">
            <label>
              <input type="checkbox" name="antiaging">
              Antiaging
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="night">
              Night Cream
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="sunscreen">
              Sunscreen
            </label>
          </div>
        </div> 


        <div class="col-sm">
          <div class="form-group">
            <label>
              <input type="checkbox" name="oily">
              Oily
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="dry">
              Dry
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="combination">
              Combination
            </label>
          </div>
        </div> 


        <div class="col-sm">
          <div class="form-group">
            <label>
              <input type="checkbox" name="skintone">
              Skintone
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="lightening">
              Rosacea
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="pores">
              Poresize
            </label>
          </div>
        </div> 


        <div class="col-sm">
          <div class="form-group">
            <label>
              <input type="checkbox" name="psoriasis">
              Psoriasis
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="sensitive">
              Sensitive
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="eyes">
              Eye Area
            </label>
          </div>
        </div> 
        
      </div>
      <div class="form-group">
        <label for="budget">Budget</label>
        <select class="form-control" id="budget"  name="budget">
          <option value="10">under $20</option>
          <option value="15">$20 - $50</option>
          <option value="20" selected="selected">$50 - $75</option>
          <option value="25">$75 - $125</option>
          <option value="30">over $125</option>
        </select>
      </div>
        <input type="submit" value="Submit" class="btn btn-primary"> 
    </form>
  </div>





  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
